<div class="content-header">
    <h1>Situational Profiling</h1>
    <p></p>
</div>
<div class="dashboard_content_section">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Situational profiling is the first step in our mining process.
                It’s adopted to assess an investor’s fundamental philosophy
                and preference. In this step we consider source of wealth,
                stage of life, and personal investable asset three factors.</p>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Step I. Basic Information</div>
        <div class="panel-body">
            <form>
                <ul class="content_ul">
                    <li class="content_li_question">1. What is your age?</li>
                    <li class="content_li_answer">I am<input type="text"/>old.</li>
                    <li class="content_li_question">2.What is the percentage of your wealth that is made on your own?</li>
                    <li class="content_li_answer">It is <input type="text"/>%.</li>
                    <li class="content_li_question">3.What is your investable assets(Net Wealth?</li>
                    <li class="content_li_answer">I have $<input type="text"/> available.</li>
                </ul>
            </form>
        </div>
    </div>
    <div class="panel panel-info" >
        <div class="panel-heading">Step II. Stage Of Life</div>
        <div class="panel-body">
            <form>
                <ul class="content_ul">
                    <li class="content_li_question">A. Foundation stage</li>
                    <li class="content_li_answer">a. Just graduated. Have not gotten a job yet.</li>
                    <li class="content_li_answer">b. Just started a new job.</li>
                    <li class="content_li_answer">c. Have been working for less than 2 years.</li>
                    <li class="content_li_question">2.Accumulation stage</li>
                    <li class="content_li_answer">a. Have been working for more than 2 years, but less 5 years.</li>
                    <li class="content_li_answer">b. I am a manager/leader of a department.</li>
                    <li class="content_li_question">3. Maintenance</li>
                    <li class="content_li_answer">a. Have been working more than 5 years as an employee.</li>
                    <li class="content_li_answer">b. An owner of a private business that has been profitable for more than one year.</li>
                    <li class="content_li_answer">c. I am a high level manager in a mid-size company.</li>
                    <li class="content_li_answer">d. About to retire.</li>
                    <li class="content_li_question">D. Distribution</li>
                    <li class="content_li_answer">a. Plan to donate some wealth to a public organization.</li>
                    <li class="content_li_answer">c. Transfer wealth to offsprings or others.</li>

                </ul>
            </form>
        </div>
    </div>

</div>