
   <head>
       <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
   </head>

<body>
<div data-role="page" id="pageone">

    <div data-role="header">
        <h1>We are here for all you need</h1>
    </div>

    <div data-role="content">
        <h3>check all that apply please</h3>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-b">
                    <a href="#" data-role="button"></a><br>
                    <span>
                        <h6>
                         <ul class="list">
                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Activision Blizzard, Inc</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-2">
                        <label for="flat-checkbox-2">Adobe Systems Incorporated</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-3">
                        <label for="flat-checkbox-3">GOOGL - Alphabet Inc Class A</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-4">
                        <label for="flat-checkbox-4">GOOG - Alphabet Inc Class C</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-5">
                        <label for="flat-checkbox-5">Analog Devices, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-6">
                        <label for="flat-checkbox-6">Apple Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-7">
                        <label for="flat-checkbox-7">Applied Materials, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-8">
                        <label for="flat-checkbox-8">Autodesk, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-9">
                        <label for="flat-checkbox-9">Automatic Data Processing, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-10">
                        <label for="flat-checkbox-10">CA Inc.</label>
                    </li>
                             <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Cerner Corporation</label>
                    </li>


                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-11">
                        <label for="flat-checkbox-11">Cisco Systems, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-12">
                        <label for="flat-checkbox-12">Citrix Systems, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-13">
                        <label for="flat-checkbox-13">Cognizant Technology Solutions Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Dover Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Electronic Arts Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Facebook, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Fiserv, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Hewlett Packard Enterprise Company</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">HP Inc.</label>
                    </li>
                                     <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Illinois Tool Works Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Intel Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">International Business Machines Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Intuit Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">L-3 Communications Holdings, Inc.</label>
                    </li>


                </ul>
                     </h6>
                    </span>
                </div>
            </div>

            <div class="ui-block-b">
                <div class="ui-bar ui-bar-b">
                    <a href="#" data-role="button"></a><br>
                    <span>
                        <h6>
                           <ul class="list">
                        <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Lam Research Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Linear Technology Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">LinkedIn Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Maxim Integrated Products, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Microchip Technology Incorporated</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Micron Technology, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Microsoft Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Motorola Solutions, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">NVIDIA Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Omnicom Group Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Oracle Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Palo Alto Networks, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">QUALCOMM Incorporated</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Red Hat, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Salesforce.com Inc</label>
                    </li>


                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">ServiceNow, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Skyworks Solutions, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Symantec Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Texas Instruments Incorporated</label>
                    </li>
                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Verisk Analytics, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Vmware, Inc.</label>
                    </li>
                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Western Digital Corporation</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Workday, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Xilinx, Inc.</label>
                    </li>

                    <li>
                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                        <label for="flat-checkbox-1">Yahoo! Inc.</label>
                    </li>
                           </ul>
                        </h6>
                    </span>
                </div>

            </div>
        </div>
    </div>
</body>
