body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer{
    clear: both;
	background: #f6f6f6;
	margin-top: 20px;
	padding: 20px 0;
	color: #999;
	text-align: center;
}
.content-header{
	margin-bottom: 0px;
}
.dashboard_content_section{
	padding: 16px;
	padding-top: 0px;
	float: right;
	width: 100%;
	height: 80%;
	overflow: auto;
}
.content_ul{
	font-size: 14px;
}
.content_li_question{
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 500;
}
.content_li_answer{
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 300;
}